@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/*RESET BÁSICO*/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;}
img{max-width:100%;display: block;margin: auto;}
ul li{list-style: none; padding: 5px;}
html, body{height: 100vh;font-size: 100%;}

/* p{
color:#2a1f3f;
color:#e3e1e9;
color:#4929a0;
color:#b8acde;

} */

/*CUSTOMIZAÇÃO DE TAGS, CORES*/
/* cores padrao */
:root {
    /*FONTES*/
    --fonte-paragrafos: Verdana, sans-serif;
    --fonte-titulos: 'Courgette', cursive;

    /*CORES*/
    --cor-titulo: #4929a0;
    --cor-bg-1: #b8acde;
    --cor-bg-2: #4929a0;
    --cor-01: #e3e1e9;
    --cor-02: #2a1f3f;
    --cor-03: #CE2D4F;
    --cor-04: #24264B;
    --cor-05: #1f1f1f;
    /* --cor-titulo: #F0A330; */
}

body{   
    font-size: 16px;
    font-family:var(--fonte-paragrafos); 
    line-height: 1.6;
    background-color: #f5f5f5;
    color: var(--cor-05);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;

}

a{color: #000; }
h1,h2,h3{font-family:var(--fonte-titulos);text-align: left;}
h1{font-size: 2.5rem; color: var(--cor-titulo);}
h2,h3{color: var(--cor-titulo);font-weight: 700;}
h2{
    font-size: 1.9rem;
}
h3{
    font-size: 1.4rem;
}

p{
    font-family: var(--fonte-paragrafos);
    font-size: 1.1rem; 
    text-align: left;
    letter-spacing: 0.05rem;
    color: var(--cor-05);
    /* margin: 18px 0px; */
    overflow-wrap: break-word;
    /* background-color: red; */
}

blockquote{
    font-style: italic;
    font-size: small;
   
}

/*****  TOPOSITE    *****/

/*LOGO*/
/* .logo_text{display:none;} */

#toposite{
    background-color:var(--cor-bg-2);
    text-transform: uppercase;
    padding: 1rem;
    /* position: sticky;
    top: 0; */
    
}

#toposite img{
    width: 150px;
    border-radius: 50%;
}

#topositeint{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /*background-color: red;*/
}

/*NAV*/
.menu {display:flex;align-items:center;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{display:block;
    /* padding:15px; */
    text-decoration:none;
    text-transform:uppercase;
    color:#f5f5f5;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    /**/
    position: relative;
    padding: 10px 10px;
}
nav a:hover{
    color:#f5f5f5;

}
nav a:after{
    content: "";
    position: absolute;
    background-color: #c32aa3;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .8s;
}

nav a:hover:after{
    width: 100%;
}
.menuMobile{display:none;width:60px;height:60px;color: #fff;justify-content: center;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:5px;background-color:#fff;width: 80%;margin: 5px;}

/*CUSTOMIZAÇÂO HEADER, MAIN, SECTION, FOOTER*/

/*****  PRINCIPAL    *****/
#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#principal > h1{text-align: center;}
/*#principalint{} */

.titulo-underline{
    height: 4px;
    width: 300px;
    background-color: #c32aa3;
    margin-bottom: 4rem;
}

/*****  SECTION    *****/ 
section{
    margin-top: 2rem;
}

/*****  RODAPESITE    *****/
#rodapesite{
    background-color: var(--cor-bg-1);
}

/*CLASSES AUXILIARES*/
/*container centraliza e define tamanho do width em %*/
.container{
    width: 95%;
    max-width: 960px;                                             
    margin: 0 auto;
    overflow: hidden;
}

.espacointerno{
    padding: 2rem 0 4rem;
}

.wrapper{display:flex;flex-wrap: wrap;justify-content: center;}

/* .carrossel{
    height:250px;
    background-color: #ffb;
} */

.box{
    background-color: var(--cor-bg-2);
    color: #f5f5f5;
    margin:3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box p {
    color: #f5f5f5;
}

.box-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.box-text{width: 70%; padding: 2rem;}
.box-img {width: 30%;}


/*REDESSOCIAIS*/
.redessociais-container{display: flex;justify-content: center; font-size: 2rem;}
.fa-facebook {color: #3b5998;}
.fa-instagram {color:#c32aa3;}
.fa-twitter {color:#1da1f2;}
.fa-youtube {color:#FF0000;}

/*GALERIA DE IMAGENS*/
.galeriaimagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaimagens img{
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s transform;
}

.galeriaimagens img:hover{
    transform: scale(1.1);
    transition: 0.5s transform;
}


/*MEDIAS QUERIES*/
/*MEDIA MOBILE*/
@media only screen and (max-width: 600px) {
    nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
        width: 100%;
        margin-top: 3rem;
        background-color: var(--cor-bg-2); 
	}
    nav a:hover:after{
        width: 32%;
    }

	header {
		height:auto;
	}

	.menuMobile {
		display:flex !important;
		flex-direction: column;
		justify-content:space-around;
	}

    
}

/*MEDIA TABLETS*/
@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
   
    #rodapeitens{
        display: flex;
    }
    nav ul {
        display: flex !important;
    }
    
}
/*MEDIA HD*/
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
    
}