/*RESET BÁSICO*/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;}
img{max-width:100%;display: block;margin: auto;}
ul li{list-style: none; padding: 5px;}
a{color: #000; }
h1{text-shadow: 2px 2px #CEA66D;}
h2,h3{font-family: Verdana, Geneva, Tahoma, sans-serif; color: var(--cor-titulo);margin: 1rem 0 1rem;text-shadow: 2px 2px #ccc;}
p{
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; 
    color: #444;
    margin: 32px 0 32px;
    text-indent: 32px;
    overflow-wrap: break-word;
    font-size: 100%;
    /* background-color: red; */
}
blockquote{
    text-decoration: underline;
    font-size: small;
}

/*CUSTOMIZAÇÃO*/
/* cores padrao */
:root {
    /*TITULOS*/
    --cor-titulo: #F0A330;

    /*PARAGRAFOS*/
    --cor-01: #357E8F;
    --cor-02: #CEA66D;
    --cor-03: #CE2D4F;
    --cor-04: #24264B;
    --cor-05: #7a7a7a;
    
    --cor-bg-1: #C60F7B;
    --cor-bg-2: #9b59b6;
    
}
/*
body {
    background-color: var(--cor-03);
   ### background: linear-gradient(45deg,#3388FF 30%, #0044FF  70%);###
    min-height: 100vh;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 1.6em;
}*/

html, body{
    height: 100vh;
}

body{   
    font-size: 18px;
    line-height: 1.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    color: #444;
    
}

header{
    width: 100%;
    background-color: var(--cor-03);
    text-transform: uppercase;
    padding: 1rem;
}

.innerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: red;*/
}

header img{
    width: 150px;
    border-radius: 50%;
}

nav{
    /*background-color: #ccc;*/
    color: #fff;
    font-weight: bold;
    /*flex: 1;*/
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    padding: 1rem;
    /*background-color: red;*/
}

section{
    width: 100%;
    /*background-color: green;*/
    padding: 1rem;
}

footer{
    
    width: 100%;
    padding: 1rem;
    background-color: #D6D1CD;
    
}

.carrossel{
    height:150px;
    
    /*background-color: red;*/

}
/*CLASSES AUXILIARES*/
/*container centraliza e define tamanho do width em %*/
.container{
    width: 100%;
    max-width: 960px;                                             
    margin: 0 auto;
    overflow: hidden;
}
.container h1{
    text-align: center;
    color: var(--cor-03);
}
.wrapper{display:flex;flex-wrap: wrap;justify-content: center;}

/*REDESSOCIAIS*/
.redessociais-container{display: flex;justify-content: center; font-size: 2rem;}
.fa-facebook {color: #3b5998;}
.fa-instagram {color:#c32aa3;}
.fa-twitter {color:#1da1f2;}
.fa-youtube {color:#FF0000;}

/*GALERIA DE IMAGENS*/
.galeriaimagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaimagens img{
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s transform;
}

.galeriaimagens img:hover{
    transform: scale(1.1);
    transition: 0.5s transform;
}