/*RESET BÁSICO*/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;}
img{max-width:100%;display: block;margin: auto;}
ul li{list-style: none; padding: 5px;}
a{color: #fff; }
h1,h2,h3{font-family: Roboto, sans-serif;color: var(--cor-titulo);margin-bottom: 1rem;}
p{font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff; margin-top: 0;margin-bottom: 1rem;}
    
/*CUSTOMIZAÇÃO*/
/* cores padrao */
:root {
    /*TITULOS*/
    --cor-titulo: #F0A330;

    /*PARAGRAFOS*/
    --cor-01: #ffeead;
    --cor-02: #b0d6b2;
    --cor-03: #ff6f69;
    --cor-04: #ffcc5c;
    --cor-05: #7a7a7a;
    
    --cor-bg-1: #8e44ad;
    --cor-bg-2: #9b59b6;
    
}
/*
body {
    background-color: var(--cor-bg-1);
   ### background: linear-gradient(45deg,#3388FF 30%, #0044FF  70%);###
    min-height: 100vh;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 1.6em;
}*/

html, body{
    height: 100vh;
}

body{   
    font-size: 16px;
    background-color: var(--cor-bg-2);
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    background-color: var(--cor-bg-1);
    text-transform: uppercase;
    padding: 1rem;
}

header div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 150px;
    border-radius: 50%;
}
.logo{
    height: 120px;
    background-image: url(../temp/hero-image.jpg);
    /*background-image: url(../img/favicon.jpg);
    /*background-color: #3388FF;*/
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    flex: 1;
}

nav{
    /*background-color: #3388FF;*/
    color: #fff;
    font-weight: bold;
    flex: 1;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    padding: 1rem;
    /*background-color: red;*/
}

section{
    width: 100%;
    /*background-color: green;*/
    padding: 1rem;
}

footer{
    
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-bg-3);
    
}

.carrossel{
    height:150px;
    
    /*background-color: red;*/

}
/*CLASSES AUXILIARES*/
/*container centraliza e define tamanho do width em %*/
.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper{display:flex;flex-wrap: wrap;justify-content: center;}

/*REDESSOCIAIS*/
.redessociais-container{display: flex;justify-content: center; font-size: 2rem;}
.fa-facebook {color: #3b5998;}
.fa-instagram {color:#c32aa3;}
.fa-twitter {color:#1da1f2;}
.fa-youtube {color:#FF0000;}

/*GALERIA DE IMAGENS*/
.galeriaimagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaimagens img{
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s transform;
}

.galeriaimagens img:hover{
    transform: scale(1.1);
    transition: 0.5s transform;
}


